<script src="https://cdn.jsdelivr.net/npm/tctip@1.0.4/dist/tctip-1.0.3.min.js">
</script>
<script>
    new tctip({
        top: '20%',
        button: {
            id: 8,
            type: 'zanzhu',
        },
        list: [
            {
                type: 'alipay',
                qrImg: 'https://img2.imgtp.com/2024/04/25/KBcSz7qq.jpg'
            }, {
                type: 'wechat',
                qrImg: 'https://img2.imgtp.com/2024/04/25/8KvweXCh.jpg'
            }, {
                type: 'weixin',
                name: '加好友',
                icon: 'https://s3.bmp.ovh/imgs/2024/04/24/6feafb7f63995dfe.png',
                qrImg: 'https://s3.bmp.ovh/imgs/2024/04/24/e2ae8bd59da6e3a8.jpg',
                desc: '微信:beingBetterSelf'
            }
        ]
    }).init()
</script>
<script defer src="https://cn.vercount.one/js"></script>

<script defer src="https://analytics.eu.umami.is/script.js"
    data-website-id="0a12e949-0500-4ff1-872c-b8969b376add"></script>

<script defer language="javascript">
    var uptime_1 = "本站已经开心运行 ";
    var uptime_2 = " 天 ";
    var uptime_3 = " 小时 ";
    var uptime_4 = " 分 ";
    var uptime_5 = " 秒";


    function show_date_time() {
        window.setTimeout(show_date_time, 1e3);
        BirthDay = new Date("4/08/2024 22:54:23");
        today = new Date();
        timeold = today.getTime() - BirthDay.getTime();
        sectimeold = timeold / 1e3;
        secondsold = Math.floor(sectimeold);
        msPerDay = 24 * 60 * 60 * 1e3;
        e_daysold = timeold / msPerDay;
        daysold = Math.floor(e_daysold);
        e_hrsold = (e_daysold - daysold) * 24;
        hrsold = Math.floor(e_hrsold);
        e_minsold = (e_hrsold - hrsold) * 60;
        minsold = Math.floor((e_hrsold - hrsold) * 60);
        seconds = Math.floor((e_minsold - minsold) * 60);
        document.getElementById('span_show_age').innerHTML = uptime_1 + daysold + uptime_2 + hrsold + uptime_3 + minsold + uptime_4 + seconds + uptime_5;
    }

    show_date_time();
</script>